.postItem{
    background-color: rgba(128, 0, 0, 0.9);
    margin: 5px;
    border-radius: 8px;
    font-family: 'Cinzel', serif;
}

.postAuthor{
    display: flex;
    padding: 8px;
}

.profile-photo {
    border: solid;
    border-radius: 3px;
    border-color: black;
}