<div class="container center" style="text-align: center; color: white">
    <div *ngFor="let post of posts">
        <div class="postItem">
            <span class="postAuthor" style="font-weight: bold;">
                <span *ngIf="post.author.profilePhoto == null">
                    <img src="https://hawky-photos-bucket.s3.amazonaws.com/3c56ca1c-37b8-4c0d-aa00-5baf9aca863c.png" alt={{post.author.username}} style="max-height: 30px; max-width: 30px">
                </span>
                <span *ngIf="post.author.profilePhoto != null">
                    <img src={{post.author.profilePhoto}} style="max-height: 30px; max-width: 30px">
                </span>
                <span style="margin-left: 10px; cursor: pointer; text-decoration: underline;" (click)="goToProfile($event)">{{post.author.username}}</span>
            </span>
            <div style="border: 3px double black; margin: 5px;">{{post.message}}</div>
            <span style="font-style: italic;">{{post.datePosted}}</span>
        </div>
    </div>
</div>
