.postItem{
    background-color: rgba(128, 0, 0, 0.9);
    margin: 15px;
    border-radius: 8px;
    font-family: 'Cinzel', serif;
}

.postAuthor{
    display: flex;
    padding: 8px;
}

.profile-photo {
    border: solid;
    border-radius: 3px;
    border-color: black;
}

.photo-btn {
    font-family: 'Cinzel', serif;
    color: white;
    background-color: rgb(90, 0, 0);
    width: 100%;
}