/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./app/images/bg3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}